#center {
  margin: 1em auto;
  display: flexbox;
  width: 40%;
  padding: 15px;
  background-image: url('assets/papyrus.jpg');
  border-radius: 8px;
}

body {
  background-image: url("assets/campfire.jpg");
  background-size: 100vw 100vh;
}

#partyList {
  margin: 1em auto;
  display: flexbox;
  width: 40%;
  background-image: url('assets/papyrus.jpg');
  border-radius: 8px;
  padding: 15px;
}

button {
  margin: 0.5em;
  padding: 0.75em 1em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #77490c;
  border-radius: 6px;
  background-color: #b67908;
  background-image: linear-gradient(45deg, #77490c, #b67908);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.sameline {
  display: inline;
}